#awGlobalBnrWrapper {
    background: url(desktop_bg.png);
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;
    margin-top: 0;
    cursor: pointer
}

#awGlobalBnrWrapper #awBnrCreativeContent {
    width: 960px;
    height: 300px;
    margin: 0 auto;
    background: url(desktop_content.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
    top: 0;
    overflow-x: hidden;
    z-index: 0
}

#awGlobalBnrWrapper #awBnrCreativeContent:hover {
    cursor: pointer
}

@media(max-width:979px) {
    #awGlobalBnrWrapper {
        margin-bottom: 16px;
        margin-top: 0;
        height: 300px;
        background: url(iPad_bg.png)
    }

    #awGlobalBnrWrapper #awBnrCreativeContent {
        position: relative;
        width: 768px;
        height: 300px;
        top: 0;
        right: 0;
        background: url(iPad_content.png)
    }
}

@media (max-width:767px) {
    #awGlobalBnrWrapper {
        margin-bottom: 12px;
        margin-top: 0;
        height: 250px;
        background: url(iPhone_bg.png);
    }

    #awGlobalBnrWrapper #awBnrCreativeContent {
        background: url(iPhone_content.png);
        height: 250px;
        width: 100%;
        margin: 0 auto;
        top: 0;
        max-width: 414px;
    }
}

@media(max-width:360px) {
    #awGlobalBnrWrapper #awBnrCreativeContent {
        background-size: contain;
        width: 100%;
    }
}

@media(max-width:320px) {
    #awGlobalBnrWrapper #awBnrCreativeContent {
        width: 100%;
        background-size: contain;
    }

}

/*  */

#awGlobalBnrWrapper .carouselWrapper {
    /* transform: translate(-482px,27px); */
    transform: translate(-421px, 21px);
    border: 5px solid RGB(253, 254, 255, 0.5);
    border-radius: 10px;
    box-sizing: content-box;
}

#awGlobalBnrWrapper .carouselWrapper,
#awGlobalBnrWrapper .productsWrap,
#awGlobalBnrWrapper .owl-carousel .owl-stage-outer,
#awGlobalBnrWrapper .owl-carousel .owl-item,
#awGlobalBnrWrapper .owl-carousel .owl-item a {
    width: 248px;
    height: 248px;
}

#awGlobalBnrWrapper .owl-next,
#awGlobalBnrWrapper .owl-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -20px;
}

#awGlobalBnrWrapper .owl-prev {
    left: -57px
}

#awGlobalBnrWrapper .owl-next {
    right: -57px
}

/* ----- */
#awGlobalBnrWrapper .carouselWrapper {
    position: absolute;
    left: 50%;
    top: 0;
}

#awGlobalBnrWrapper .productsWrap {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#awGlobalBnrWrapper .owl-carousel .owl-stage-outer {
    margin-top: 0px;
}

#awGlobalBnrWrapper .owl-carousel .owl-item {
    margin-top: 0
}

#awGlobalBnrWrapper .owl-carousel .owl-item a {
    display: block;
    margin-right: 0;
    margin-top: 0
}

#awGlobalBnrWrapper .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto
}

#awGlobalBnrWrapper .owl-next,
#awGlobalBnrWrapper .owl-prev {
    position: absolute;
    top: 50%;
    background: url(arrow.png) no-repeat;
    background-size: contain;
    opacity: 1;
    transition: .5s
}

#awGlobalBnrWrapper .owl-nav button:active,
#awGlobalBnrWrapper .owl-nav button:focus {
    outline: 0
}

#awGlobalBnrWrapper .owl-nav button span {
    display: none
}

#awGlobalBnrWrapper .owl-prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}



#awGlobalBnrWrapper .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    height: inherit;
}

@media(max-width:979px) {
    #awGlobalBnrWrapper .carouselWrapper,
    #awGlobalBnrWrapper .productsWrap,
    #awGlobalBnrWrapper .owl-carousel .owl-stage-outer,
    #awGlobalBnrWrapper .owl-carousel .owl-item,
    #awGlobalBnrWrapper .owl-carousel .owl-item a {
        width: 173px;
        height: 186px;
    }
    #awGlobalBnrWrapper .carouselWrapper {
        transform: translate(145px, 52px);
    }


    #awGlobalBnrWrapper .owl-carousel .owl-stage-outer {
        margin-top: 0px
    }

    #awGlobalBnrWrapper .owl-carousel .owl-item a {
        display: block;
        margin-right: 0;
        margin-top: 0
    }

    #awGlobalBnrWrapper .owl-next,
    #awGlobalBnrWrapper .owl-prev {
        width: 33px;
        height: 33px;
        margin-top: -16px;
        
    }

    #awGlobalBnrWrapper .owl-prev {
        left: -50px
    }

    #awGlobalBnrWrapper .owl-next {
        right: -50px
    }
}

@media (max-width:420px) {

    #awGlobalBnrWrapper .carouselWrapper {
        transform: translate(53px, 48px);
        border: 5px solid RGB(253, 254, 255, 0.5);
        border-radius: 8px;
        box-sizing: content-box;
    }

    #awGlobalBnrWrapper .carouselWrapper,
    #awGlobalBnrWrapper .owl-carousel .owl-stage-outer,
    #awGlobalBnrWrapper .owl-carousel .owl-item a,
    #awGlobalBnrWrapper .owl-carousel .owl-item img,
    #awGlobalBnrWrapper .productsWrap {
        width: 117px;
        height: 117px;
    }

    #awGlobalBnrWrapper .owl-next,
    #awGlobalBnrWrapper .owl-prev {
        width: 19px;
        height: 19px;
        bottom: -35px;
        top: auto;
        margin-top: auto;
    }

    #awGlobalBnrWrapper .owl-prev {
        left: 10%;
    }

    #awGlobalBnrWrapper .owl-next {
        right: 10%;
    }

    /*  */
    #awGlobalBnrWrapper .carouselWrapper {
        position: absolute;
        left: 50%;
    }

    #awGlobalBnrWrapper .productsWrap {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto
    }

    #awGlobalBnrWrapper .owl-carousel .owl-stage-outer {
        margin-top: 0px
    }

    #awGlobalBnrWrapper .owl-carousel .owl-item {
        display: block;
        margin-right: 0;
        min-height: 117px;
        margin-top: 0px;
    }

    #awGlobalBnrWrapper .owl-carousel .owl-item a {
        display: block;
        margin-right: 0;
        margin-top: 0
    }

    #awGlobalBnrWrapper .owl-carousel .owl-item img {
        margin: 0 auto;
    }

    #awGlobalBnrWrapper .owl-next,
    #awGlobalBnrWrapper .owl-prev {
        position: absolute;
        background: url(arrow.png) no-repeat;
        background-size: contain;
        opacity: 1;
        transition: .5s
    }

    #awGlobalBnrWrapper .owl-nav button:active,
    #awGlobalBnrWrapper .owl-nav button:focus {
        outline: 0
    }

    #awGlobalBnrWrapper .owl-nav button span {
        display: none;
    }

    #awGlobalBnrWrapper .owl-prev {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media(max-width:375px) {
    #awGlobalBnrWrapper .carouselWrapper {
        transform: translate(43px, 48px);
    }
}

@media(max-width:360px) {
    #awGlobalBnrWrapper .carouselWrapper {
        transform: translate(38px, 48px);
    }
}

@media(max-width:320px) {
    #awGlobalBnrWrapper .carouselWrapper {
        transform: translate(28px, 48px);
    }
}