@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);
/*
.fonts {
  font-family: 'Josefin Slab', serif;
}
*/

html {
    font-size: 62.5%;
    /* browser default 16px  62.5 */
    box-sizing: border-box;
}

body {
    /* font-family: 'Josefin Slab', serif; */
    font-size: 18px;
    line-height: 24px;
    color: #333;
    background: #ececec;
    /* overflow: scroll; */
    height: 100vh;
    margin: 0;
}

p {
    margin-bottom: 0.5em;
}

.header {
    grid-area: header;
    background-color: #00AE68;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #00AE68;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.clear {
    clear: both;
}

.title {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    color: #00AE68;
}

.subTitle {
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1em;
    color: #222;
}

.wrapper {
    /* width: 600px; */
    width: 45vw;
    margin: 20px auto;
}

.container {
    padding-top: 1em;
    margin-top: 1em;
    border-top: solid 1px #CCC;
}

.grid-container {
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

/* ----------------------- */

/* text field css start */

/* ----------------------- */

.field-container {
    position: relative;
    border: 1px solid #bcbaba;
    height: 50px;
    width: 320px;
    padding-left: 12px;
}

.field-placeholder {
    position: absolute;
    top: 50%;
    transform: translate(5px, -50%);
    pointer-events: none;
    transition: all 0.14s ease-in-out;
    font-size: 18px;
    color: #adadad;
}

input[type=text].field-input {
    /* color: #000; */
    border: none;
    padding: 5px;
    margin-top: 20px;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
    background: bottom;
}

input[type=text].field-input:focus {
    outline: none;
}

input[type=text].field-input.c-fix, input[type=text].field-input:focus, input[type=text].field-input:not(:placeholder-shown) {
    border-color: transparent;
}

input[type=text].field-input.c-fix~label, input[type=text].field-input:focus~label, input[type=text].field-input:not(:placeholder-shown)~label {
    color: #646669;
    font-size: 11px;
    top: calc(30% - .5rem);
    transform: translate(5px, 0%);
}

input[type=text].field-input::-webkit-input-placeholder {
    color: transparent;
}

input[type=text].field-input::-moz-placeholder {
    color: transparent;
}

input[type=text].field-input:-ms-input-placeholder {
    color: transparent;
}

/* ----------------------- */

/* text field css end */

/* ----------------------- */

/*  */

.button {
    display: block;
    position: relative;
    float: left;
    width: 165px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    border: none;
}

.btnBlueGreen {
    background: #00AE68;
}

.btnFade.btnBlueGreen:hover {
    background: #21825B;
}

.form-control {
    font-size: 1.5rem !important;
}

.containerForOutput {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

#animationData{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hide{
    display: none !important;
}
.helpertText{
    font-size: 12px;
    color: grey;
}